<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--BOOTSTRAP FOR STYLING-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />

    <title>Assessment Record</title>
    <!-- navigation bar and buttons - source Bootstrap website -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
         </button>

    <div class = "collapse navbar-collapse" id="navbar">
        <div class = "navbar-nav"> 
            <a class="nav-item nav-link" id = "developers" href="/developers">Developers</a>
        </div>
    </div>


       

    </nav>


    <!--comment-->

    <form method="POST">
        <h3>Assessment Record</h3>
        <div class="form-group">
            <label for = "stationId">Station ID</label>
            <input type = "text" class = "form-control" id="stationId" name="stationId" placeholder="Enter Station ID"> 

        </div>
        <div class="form-group">
            <label for = "date">Date</label>
            <input type = "text" class = "form-control" id="date" name="date" placeholder="Enter Date"> 

        </div>
        <div class="form-group">
            <label for = "target">Target</label>
            <input type = "text" class = "form-control" id="target" name="target" placeholder="Display Target from DB"> 

        </div>
        <div class="form-group">
            <label for = "actual">Actual</label>
            <input type = "text" class = "form-control" id="actual" name="actual" placeholder="Enter Observed Value"> 

        </div>
        <div class="form-group">
            <label for = "variance">Variance</label>
            <input type = "text" class = "form-control" id="variance" name="variance" placeholder="Display Variance From Backend"> 

        </div>
        <br />
        <button type="submit" class = "btn btn-primary">Submit</button>

    </form>

    <!-- Java Script for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>


</head>

<body>
    

</body>

</html>